<div class="index-container">
    <img src="/images/beer.png" alt="">
    <p class="button"><a href="/beers">Check the beers</a></p>
    <p class="button"><a href="/random-beers">Check a random beer</a></p>
</div>